<%= turbo_frame_tag(item, "bar") do %>
  <div
    data-controller="comparison-item-component--comparison-item-component"
    class="m-comparison-bar-item bg-brand-mint">
    <div class="line-clamp-2 text-h6"><%= solution.name %></div>
    <%= link_to(solution_compare_path(solution), link_to_remove_options) do %>
      <%= image_tag "icons/20/Close.svg", alt: "" %>
      <span class="sr-only"><%= t(".remove") %></span>
    <% end %>
  </div>
<% end %>
