<%= turbo_frame_tag(solution, :details, target: "_top") do %>
  <section data-controller="solution-details-component--solution-details-component" class="solution-details">
    <header class="l-container l-container--narrow">
      <div class="l-container__inner solution-hero">
        <% if solution.logo.present? and solution.logo(:medium).present? %>
          <figure class="solution-hero__figure">
            <%= image_tag solution.logo(:medium).url, alt: "", class: "solution-hero__logo" %>
          </figure>
        <% end %>
        <div class="solution-hero__text me-auto">
          <h1><%= solution.name %></h1>
          <div class="text-lg font-semibold">
            <%= solution.provider_name %>
          </div>
          <%= render_location %>
          <div class="a-underline"></div>
          <div class="pt-[1.625rem] flex gap-3 flex-wrap">
            <% if solution.website? %>
              <a href="<%= solution.website %>" target="_blank" rel="noreferrer" class="m-button m-button--lg bg-brand-mint">
                <span><%= t(".website") %></span>
                <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                <%= image_tag "icons/24/Link-External.svg", alt: "" %>
              </a>
            <% end %>
            <% if solution.pricing? %>
              <% solution.pricing.links.each do |link| %>
                <a href="<%= link.url %>" target="_blank" rel="noreferrer" class="m-button m-button--lg">
                  <span><%= link.label? ? link.label : t(".pricing") %></span>
                  <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                  <%= image_tag "icons/24/Link-External.svg", alt: "" %>
                </a>
              <% end %>
            <% end %>
            <% unless solution.contact_unavailable? %>
              <a href="<%= solution.contact %>" target="_blank" rel="noreferrer" class="m-button m-button--lg">
                <span><%= t(".contact") %></span>
                <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                <%= image_tag "icons/24/Link-External.svg", alt: "", class: "-ms-1" %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= render SolutionNavComponent.new %>
    <div class="l-container l-container--narrow solution-articles">
      <article id="about" class="l-container__inner solution-articles__about"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline mb-3"><%= t(".about.heading") %></h2>
        <div class="border-b flex flex-wrap gap-y-2 justify-between pb-4 max-w-text">
          <% if solution.founded_on? %>
            <div>
              <span class="font-light"><%= t(".about.launched") %> </span>
              <span class="font-semibold">
                <%= l solution.founded_on, format: :year %>
              </span>
            </div>
          <% end %>
          <% if solution.updated_at? %>
            <div>
              <span class="font-light"><%= t(".about.record_updated") %> </span>
              <span class="font-semibold">
                <%= l solution.updated_at, format: :mdy %>
              </span>
            </div>
          <% end %>
        </div>
        <%= render_category_badges %>
        <% if solution.service_summary?.present? %>
          <div class="py-[2.0625rem] border-y t-rte">
            <%= sanitize solution.service_summary %>
          </div>
        <% end %>
      </article>
      <article id="mission" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".mission.heading") %></h2>
        <% if solution.mission? %>
          <div class="t-rte">
            <%= sanitize solution.mission %>
          </div>
        <% end %>
        <% if solution.key_achievements.present? %>
          <div class="bg-white p-10 pt-8 mt-[3.75rem] rounded-lg max-w-text">
            <h3>
              <%= t(".mission.key_achievements") %>
            </h3>
            <div class="t-rte">
              <%= sanitize solution.key_achievements %>
            </div>
          </div>
        <% end %>
      </article>
      <article id="technical" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline">
          <%= t(".technical.heading") %>
        </h2>
        <div class="solution-cards">
          <%= render_implementation(:code_repository) %>
          <% if solution.maintenance_active? %>
            <div class="m-card">
              <h4 class="text-h5"><%= t(".technical.maintenance_status") %></h4>
              <div>
                <div class="m-badge m-badge--sm bg-neutral-20"><%= t(".maintenance_status.#{solution.maintenance_status}", raise: true) %></div>
              </div>
            </div>
          <% end %>
          <%= render_implementation(:user_documentation) %>
          <%= render_implementation(:product_roadmap) %>
          <%= render_implementation(:open_api) %>
          <%= render_implementation(:open_data) %>
        </div>
        <%#= render SolutionDetailsTextBlockComponent.new(text: solution.content_licensing, heading: t(".technical.content_licensing")) %>
        <%#= render SolutionDetailsTextBlockComponent.new(text: solution.standards_employed, heading: t(".technical.standards_employed")) %>
        <div class="solution-cards-wrapper">
          <h3>
            <%= t(".technical.hosting_options") %>
          </h3>
          <div class="solution-cards">
            <% if solution.hosting_strategy.present? %>
            <div class="m-card">
              <h4 class="text-h5"><%= t(".technical.hosting_strategy") %></h4>
              <div class="text-xxs"><%= solution.hosting_strategy.name %></div>
            </div>
            <% end %>
            <% if solution.service_providers.present? %>
              <div class="m-card">
                <h4 class="text-h5"><%= t(".technical.service_providers") %></h4>
                <div class="text-xxs">
                  <% solution.service_providers.each do |service| %>
                    <div>
                      <a href="<%= service.url %>"><%= service.name %></a>
                      <span class="text-neutral-70"><%= service.description %></span>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <%#= render SolutionDetailsTextBlockComponent.new(text: solution.integrations_and_compatibility, heading: t(".technical.integrations_and_compatibility")) %>
      </article>
      <article id="community" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".community.heading") %></h2>
        <div class="solution-cards">
          <%= render_implementation(:code_of_conduct) %>
          <%= render_implementation(:community_engagement) %>
          <%= render_implementation(:contribution_pathways) %>
          <%= render_implementation(:code_license) %>
        </div>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.community_engagement.statement, heading: t(".community.organizational_commitment")) %>
        <% if solution.user_contributions.present? %>
          <div>
            <h3><%= t(".community.user_contribution") %></h3>
            <ul class="flex gap-4 flex-wrap">
              <% solution.user_contributions.each do |item| %>
                <li class="m-badge m-badge--white text-label"><%= item.name %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </article>
      <article id="policies" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".policies.heading") %></h2>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.governance_summary, heading: t(".policies.governance_summary")) %>
        <div class="solution-cards-wrapper">
          <h3>
            <%= t(".policies.policies") %>
          </h3>
          <div class="solution-cards">
            <%= render_implementation(:bylaws) %>
            <%= render_implementation(:equity_and_inclusion) %>
            <%= render_implementation(:privacy_policy) %>
            <%= render_implementation(:web_accessibility) %>
            <%= render_implementation(:open_data) %>
            <%= render_implementation(:governance_records) %>
            <%= render_implementation(:governance_structure) %>
            <%= render_implementation(:pricing) %>
          </div>
        </div>
      </article>
      <article id="additional_information" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".additional_information.heading") %></h2>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.organizational_history, heading: t(".additional_information.organizational_history")) %>
        <div class="solution-cards-wrapper">
          <h3><%= t(".additional_information.organizational_structure") %></h3>
          <div class="solution-cards">
            <% if solution.business_forms.exists? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.business_model") %>
                </h4>
                <div class="text-h4">
                  <%= solution.business_form.first.name %>
                </div>
              </div>
            <% end %>
            <% if formatted_num_staff.present? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.full_time_staff") %>
                </h4>
                <div class="text-staff">
                  <%= formatted_num_staff %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </article>
      <article id="funding" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".funding.heading") %></h2>
        <% if solution.primary_funding_sources.present? %>
          <div>
            <h3><%= t(".funding.primary_source") %></h3>
              <div class="flex flex-wrap gap-3">
                <div class="m-badge m-badge--white">
                  <%= solution.primary_funding_sources.first.name %>
                </div>
              </div>
          </div>
        <% end %>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.funding_needs, heading: t(".funding.needs")) %>
      </article>
    </div>
  </section>
<% end %>
