<%= turbo_frame_tag(solution, :details, target: "_top") do %>
  <section data-controller="solution-details-component--solution-details-component" class="solution-details">
    <header class="l-container l-container--narrow">
      <div class="l-container__inner solution-hero">
        <% if solution.logo.present? and solution.logo(:medium).present? %>
          <figure class="solution-hero__figure">
            <%= image_tag solution.logo(:medium).url, alt: "", class: "solution-hero__logo" %>
          </figure>
        <% end %>
        <div class="solution-hero__text me-auto">
          <h1><%= solution.name %></h1>
          <div class="text-lg font-semibold">
            <%= solution.provider_name %>
          </div>
          <%= render_location %>
          <div class="a-underline"></div>
          <div class="pt-[1.625rem] flex gap-3 flex-wrap">
            <% if solution.website? %>
              <a href="<%= solution.website %>" target="_blank" rel="noreferrer" class="m-button m-button--lg bg-brand-mint">
                <span><%= t(".website") %></span>
                <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                <%= image_tag "icons/24/Link-External.svg", alt: "" %>
              </a>
            <% end %>
            <% if solution.pricing? %>
              <% solution.pricing.links.each do |link| %>
                <a href="<%= link.url %>" target="_blank" rel="noreferrer" class="m-button m-button--lg">
                  <span><%= link.label? ? link.label : t(".pricing") %></span>
                  <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                  <%= image_tag "icons/24/Link-External.svg", alt: "" %>
                </a>
              <% end %>
            <% end %>
            <% unless solution.contact_unavailable? %>
              <a href="<%= solution.contact %>" target="_blank" rel="noreferrer" class="m-button m-button--lg">
                <span><%= t(".contact") %></span>
                <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                <%= image_tag "icons/24/Link-External.svg", alt: "", class: "-ms-1" %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= render SolutionNavComponent.new %>
    <div class="l-container l-container--narrow solution-articles">
      <article id="about" class="l-container__inner solution-articles__about"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline mb-10 sm:mb-[3.75rem]"><%= t(".about.heading") %></h2>
        <div class="border-b flex flex-wrap gap-y-2 justify-between pb-4 max-w-text">
          <% if solution.founded_on? %>
            <div>
              <span class="font-light"><%= t(".about.launched") %> </span>
              <span class="font-semibold">
                <%= l solution.founded_on, format: :year %>
              </span>
            </div>
          <% end %>
          <% if solution.updated_at? %>
            <div>
              <span class="font-light"><%= t(".about.record_updated") %> </span>
              <span class="font-semibold">
                <%= l solution.updated_at, format: :mdy %>
              </span>
            </div>
          <% end %>
        </div>
        <%= render_category_badges %>
        <% if solution.service_summary?.present? or solution.research_organization_registry_url? %>
          <div class="py-[2.0625rem] border-y max-w-text">
            <% if solution.service_summary?.present? %>
              <div class="t-rte">
                <%= simple_format(solution.service_summary) %>
              </div>
            <% end %>
            <% if solution.research_organization_registry_url? %>
              <div class="pt-[1.625rem]">
                <a href="<%= solution.research_organization_registry_url %>" target="_blank" rel="noreferrer" class="m-button m-button--sm m-button--fit-to-content">
                  <span><%= t(".about.research_organization_registry_url") %></span>
                  <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                  <%= image_tag "icons/24/Link-External.svg", alt: "" %>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      </article>
      <article id="mission" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".mission.heading") %></h2>
        <% if solution.mission? %>
          <div class="t-rte">
            <%= simple_format(solution.mission) %>
          </div>
        <% end %>
        <% if solution.key_achievements.present? %>
          <div class="bg-white p-10 pt-8 mt-[3.75rem] rounded-lg max-w-text">
            <h3>
              <%= t(".mission.key_achievements") %>
            </h3>
            <div class="t-rte">
              <%= simple_format(solution.key_achievements, {}, sanitize: true, wrapper_tag: "div") %>
            </div>
          </div>
        <% end %>
      </article>
      <article id="technical" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline">
          <%= t(".technical.heading") %>
        </h2>
        <div>
          <div class="solution-cards">
            <%= render_implementation(:code_repository) %>
            <% if solution.maintenance_statuses.present? %>
              <div class="m-card">
                <h3 class="text-h5"><%= t(".technical.maintenance_status") %></h3>
                <div class="flex flex-wrap gap-2">
                <% solution.maintenance_statuses.each do |status| %>
                  <div class="m-badge m-badge--sm bg-neutral-20"><%= status.name %></div>
                <% end %>
                </div>
              </div>
            <% end %>
            <%= render_implementation(:user_documentation) %>
            <%= render_implementation(:product_roadmap) %>
            <%= render_implementation(:open_api) %>
            <%= render_implementation(:open_data) %>
            <%= render_implementation(:code_license) %>
          </div>
          <h2 class="sr-only"><%= t(".technical.statements") %></h2>
          <div class="flex flex-col">
            <%= render_implementation_statement(:code_repository) %>
            <%= render_implementation_statement(:user_documentation) %>
            <%= render_implementation_statement(:product_roadmap) %>
            <%= render_implementation_statement(:open_api) %>
            <%= render_implementation_statement(:open_data) %>
            <%= render_implementation_statement(:code_license) %>
          </div>
        </div>
        <%= render_multiselection(:programming_languages) %>
        <%= render_multiselection(:readiness_levels) %>
        <%= render_multiselection(:content_licenses) %>
        <div class="solution-cards-wrapper">
          <h3>
            <%= t(".technical.standards") %>
          </h3>
          <div class="solution-cards">
            <%= render_multiselection_card(:metadata_standards) %>
            <%= render_multiselection_card(:persistent_identifier_standards) %>
            <%= render_multiselection_card(:security_standards) %>
            <%= render_multiselection_card(:preservation_standards) %>
            <%= render_multiselection_card(:metrics_standards) %>
          </div>
        </div>
        <%= render_multiselection(:hosting_strategy) %>
        <%= render_structured_list(:service_providers, solution.service_provider_free_input) %>
        <%= render_multiselection(:integrations, "columns", 3) %>
      </article>
      <article id="community" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".community.heading") %></h2>
        <div>
          <div class="solution-cards">
            <%= render_implementation(:code_of_conduct) %>
            <%= render_implementation(:community_engagement) %>
            <%= render_implementation(:contribution_pathways) %>
          </div>
          <h2 class="sr-only"><%= t(".community.statements") %></h2>
          <div class="flex flex-col">
            <%= render_implementation_statement(:code_of_conduct) %>
            <%= render_implementation_statement(:community_engagement) %>
            <%= render_implementation_statement(:contribution_pathways) %>
          </div>
        </div>
        <%= render_multiselection(:community_engagement_activities) %>
        <%= render_multiselection(:values_frameworks, "columns", 1) %>
        <% if solution.membership_program_url? %>
          <div>
            <h3><%= t(".community.membership_program") %></h3>
            <div>
              <a href="<%= solution.membership_program_url %>" target="_blank" rel="noreferrer" class="m-button m-button--lg m-button--fit-to-content bg-brand-mint">
                <span><%= t(".community.membership_program_url") %></span>
                <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                <%= image_tag "icons/24/Link-External.svg", alt: "" %>
              </a>
            </div>
          </div>
        <% end %>
        <% if solution.scoss? %>
          <div>
            <h3><%= t(".community.scoss") %></h3>
            <div class="m-badge m-badge--white m-badge--fit-to-content">
              <%= image_tag "icons/16/Checkmark.svg", alt: "" %>
              <%= t(".community.scoss_true") %>
            </div>
          </div>
        <% end %>
        <%= render_multiselection(:user_contributions) %>
      </article>
      <article id="policies" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".policies.heading") %></h2>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.governance_summary, heading: t(".policies.governance_summary")) %>
        <div class="solution-cards-wrapper">
          <h3>
            <%= t(".policies.policies") %>
          </h3>
          <div>
            <div class="solution-cards">
              <%= render_implementation(:bylaws) %>
              <%= render_implementation(:equity_and_inclusion) %>
              <%= render_implementation(:privacy_policy) %>
              <%= render_implementation(:web_accessibility) %>
              <%= render_implementation(:governance_records) %>
              <%= render_implementation(:governance_structure) %>
              <%= render_implementation(:pricing) %>
            </div>
            <h2 class="sr-only"><%= t(".policies.statements") %></h2>
            <div class="flex flex-col">
              <%= render_implementation_statement(:bylaws) %>
              <%= render_implementation_statement(:equity_and_inclusion) %>
              <%= render_implementation_statement(:privacy_policy) %>
              <%= render_implementation_statement(:web_accessibility) %>
              <%= render_implementation_statement(:governance_records) %>
              <%= render_implementation_statement(:governance_structure) %>
              <%= render_implementation_statement(:pricing) %>
            </div>
          </div>
        </div>
        <%= render_multiselection(:board_structures) %>
        <%= render_multiselection(:board_level) %>
        <% if solution.board_members_url? %>
          <div>
            <h3><%= t(".policies.board_members") %></h3>
            <div>
              <a href="<%= solution.board_members_url %>" target="_blank" rel="noreferrer" class="m-button m-button--lg m-button--fit-to-content bg-brand-mint">
                <span><%= t(".policies.board_members_url") %></span>
                <span class="sr-only"><%= t(".opens_in_new_window") %></span>
                <%= image_tag "icons/24/Link-External.svg", alt: "" %>
              </a>
            </div>
          </div>
        <% end %>
        <%= render_multiselection(:community_governances) %>
      </article>
      <article id="additional_information" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".additional_information.heading") %></h2>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.organizational_history, heading: t(".additional_information.organizational_history")) %>
        <div class="solution-cards-wrapper">
          <h3><%= t(".additional_information.organizational_structure") %></h3>
          <div class="solution-cards">
            <% if solution.business_forms.exists? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.business_model") %>
                </h4>
                <div class="flex flex-col gap-3">
                  <% solution.business_forms.each do |form| %>
                    <div class="text-h4">
                      <%= form.name %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if solution.staffing_full_time.present? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.full_time_staff") %>
                </h4>
                <div class="<% if solution.staffing_full_time.slug == 'unknown' %>text-h4<% else %>text-staff<% end %>">
                  <%= solution.staffing_full_time.name %>
                </div>
              </div>
            <% end %>
            <% if solution.staffing_volunteer.present? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.volunteer_staff") %>
                </h4>
                <div class="<% if solution.staffing_volunteer.slug == 'unknown' %>text-h4<% else %>text-staff<% end %>">
                  <%= solution.staffing_volunteer.name %>
                </div>
              </div>
            <% end %>
            <% if solution.nonprofit_status.present? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.nonprofit_status") %>
                </h4>
                <div class="text-h4">
                  <%= solution.nonprofit_status.name %>
                </div>
              </div>
            <% end %>
            <% if solution.shareholders? %>
              <div class="org-structure-card">
                <h4>
                  <%= t(".additional_information.shareholders") %>
                </h4>
                <div class="text-staff">
                  <%= t(".additional_information.shareholders_true") %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <%= render_structured_list(:current_affiliations, solution.current_affiliation_free_input) %>
      </article>
      <article id="funding" class="l-container__inner"
        data-solution-details-component--solution-details-component-target="article">
        <h2 class="a-underline"><%= t(".funding.heading") %></h2>
        <%= render_multiselection(:primary_funding_sources) %>
        <%= render_multiselection(:financial_reporting_level) %>
        <%= render_structured_list(:founding_institutions, solution.founding_institution_free_input) %>
        <%= render_structured_list(:top_granting_institutions, solution.top_granting_institution_free_input) %>
        <% if solution.recent_grants.present? or solution.recent_grant_free_input.present? %>
          <div class="solution-cards-wrapper">
            <h3>
              <%= t(".funding.recent_grants") %>
            </h3>
            <ul class="solution-cards">
              <% solution.recent_grants.each do |grant| %>
                <li>
                  <%= render SolutionDetailsGrantCardComponent.new(grant:) %>
                </li>
              <% end %>
            </ul>
            <% if solution.recent_grant_free_input.present? %>
              <div class="grants-free-input t-rte<% if solution.recent_grants.present? %> pt-5<% end %>">
                <%= simple_format(solution.recent_grant_free_input) %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= render SolutionDetailsTextBlockComponent.new(text: solution.funding_needs, heading: t(".funding.needs")) %>
      </article>
    </div>
  </section>
<% end %>
