<div data-controller="implementation-detail-component--implementation-detail-component" class="m-card">
  <h3 class="text-h5"><%= t(".#{implementation_name}") %></h3>
  <div class="flex flex-col items-start gap-2">
    <% if available? %>
      <div class="m-badge m-badge--sm bg-neutral-20">
        <%= image_tag "icons/16/Checkmark.svg", alt: "" %>
        <%= t(".implemented") %>
      </div>
    <% elsif in_progress? %>
      <div class="m-badge m-badge--sm bg-neutral-20">
        <%= t(".in_progress") %>
      </div>
    <% else %>
      <div class="m-badge m-badge--sm bg-neutral-20">
        <%= image_tag "icons/16/Close.svg", alt: "" %>
        <%= t(".not_available") %>
      </div>
    <% end %>
    <% if applies_to_solution? %>
      <div class="m-badge m-badge--sm bg-neutral-20">
        <%= t(".applies_to_solution") %>
      </div>
    <% end %>
    <% if applies_to_website? %>
      <div class="m-badge m-badge--sm bg-neutral-20">
        <%= t(".applies_to_website") %>
      </div>
    <% end %>
  </div>
  <% if has_any_links? %>
    <div class="grow">
      <div class="flex <%= has_many_links? ? "flex-wrap gap-2" : "" %>">
        <% each_implementation_link do |link, iter| %>
          <%= link_to link.url, target: :blank, rel: "noreferrer", class: ["m-button", "m-button--sm", iter.first? ? "bg-brand-mint" : nil].compact do %>
            <span><%= link.label.presence || t(".website") %></span>
            <span class="sr-only"><%= t(".opens_in_new_window") %></span>
            <%= image_tag "icons/16/Link-External.svg", alt: "" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
