<% if items.present? or free_text.present? %>
  <div
    class="structured-list<% if !items.present? %> structured-list--free-text<% end %>"
    data-controller="solution-structured-list-component--solution-structured-list-component">
    <h3><%= t(".#{list_name}") %></h3>
    <div class="structured-list__body<% if items.present? %> structured-list__body--boxed<% end %>">
      <ul class="structured-list__list<% if items.count > 1 %> structured-list__list--columns<% end %> t-rte">
        <% items.each do |item| %>
          <li>
            <% if item.url %>
              <a href="<%= item.url %>">
            <% end %>
              <span><%= sanitize item.name %></span>
            <% if item.url %>
              </a>
            <% end %>
          <% if item.description %>
            <%= infra_format(item.description) %>
          <% end %>
          </li>
        <% end %>
      </ul>
      <% if free_text.present? %>
        <div <% if items.present? %> class="pt-5"<% end %>>
          <%= infra_format(free_text) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
