<div data-controller="solution-filters-checkboxes-component--solution-filters-checkboxes-component">
  <%= accordion(:category) do %>
    <div>
      <% SolutionCategory.filter_select_options.each do |category, id| %>
        <label class="m-checkbox">
          <%= f.check_box :solution_categories_id_in, { multiple: true, "data-event-name": t(".headings.category"), "data-event-value": category }, id, "" %>
          <span><%= category %></span>
        </label>
      <% end %>
    </div>
  <% end %>
  <%= accordion(:attributes) do %>
    <div>
      <%= boolean_scope :maintenance_active %>
      <%= boolean_scope :open_api_available %>
      <%= boolean_scope :code_repository_available %>
      <%= boolean_scope :open_data_available %>
      <%= boolean_scope :product_roadmap_available %>
      <%= boolean_scope :user_documentation_available %>
    </div>
  <% end %>
  <%= accordion(:community) do %>
    <div>
      <%= boolean_scope(:code_of_conduct_available) %>
      <%= boolean_scope(:community_engagement_available) %>
      <%= boolean_scope(:contribution_pathways_available) %>
    </div>
  <% end %>
  <%= accordion(:policies) do %>
    <div>
      <%= boolean_scope(:bylaws_available) %>
      <%= boolean_scope(:equity_and_inclusion_available) %>
      <%= boolean_scope(:privacy_policy_available) %>
      <%= boolean_scope(:web_accessibility_available) %>
    </div>
  <% end %>
  <%= accordion(:flags) do %>
    <div>
      <% Solutions::Flags.scopes.each_value do |scope_name| %>
        <%= boolean_scope scope_name %>
      <% end %>
    </div>
  <% end %>
  <div class="location-select">
    <%= f.label :country_code_eq, t(".location"), class: "text-h5" %>
    <%= f.select :country_code_eq, ControlledVocabulary.active_country_options, include_blank: "Anywhere" %>
  </div>
</div>
