<%= turbo_frame_tag "solutions-list", class: "", target: "_top" do %>
  <section data-controller="solutions-component--solutions-component">
    <header class="solutions-results">
      <div class="solutions-results__count bg-white">
        <h2 class="text-h3">
          <span><%= solutions.length %></span>
          <span class="text-h5"><%= t(".solutions", count: solutions.length) %></span>
        </h2>
      </div>
      <%= render SolutionSortComponent.new(solution_search:) %>
    </header>
    <% if comparison.present? and comparison.comparison_items.any? %>
      <a href="#compare-bar"
        class="m-button solutions-skip-link"
        data-action="click->solutions-component--solutions-component#focus">
        <%= t(".skip_to_compare") %>
      </a>
    <% end %>
    <% if solutions.present? %>
      <div class="grid sm:grid-cols-solutions-list grid-cols-1 gap-4" id="solutions-grid">
        <%= render SolutionComponent.with_collection(solutions, comparison:) %>
      </div>
    <% else %>
      <div class="bg-white py-8 px-8 rounded-md flex">
        <span class="text-base"><%= t(".no_solutions_found") %></span>
      </div>
    <% end %>
  </section>
<% end %>
