<%= turbo_frame_tag "solutions-list", class: "", target: "_top" do %>
  <section data-controller="solutions-component--solutions-component">
    <header class="flex flex-wrap mb-4 gap-y-4">
      <h2 class="solutions-results min-h-resultsBar bg-white">
        <%= solutions.length %>
        <span class="text-h5"><%= t(".solutions", count: solutions.length) %></span>
      </h2>
      <%= render SolutionSortComponent.new(solution_search:) %>
    </header>
    <% if solutions.present? %>
      <div class="grid grid-cols-solutionsList gap-4">
        <%= render SolutionComponent.with_collection(solutions, comparison:) %>
      </div>
    <% else %>
      <div>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
           <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
        <h2><%= t(".no_solutions_found") %></h2>
      </div>
    <% end %>
  </section>
<% end %>
