<%= turbo_frame_tag item, class: "" do %>
  <article class="m-solution-card" data-controller="comparison-item-component--comparison-item-component">
    <header class="m-solution-card__header">
      <h3 class="text-h4"><%= solution.name %></h3>
      <%= link_to(solution_compare_path(solution), link_to_remove_options) do %>
        <%= image_tag "icons/20/Close.svg", alt: "" %>
        <span class="sr-only"><%= t(".remove") %></span>
      <% end %>
    </header>
    <div class="text-xs space-y-[0.625rem]">
      <div class="font-bold">
        <%= solution.organization.name %>
      </div>
      <%= render_location %>
    </div>
    <div class="text-xs t-rte line-clamp-6">
      <%= sanitize solution.service_summary %>
    </div>
    <div class="m-solution-card__badges">
      <% solution.solution_categories.each do |category, id| %>
        <div class="m-badge m-badge--md">
          <span><%= category.name %></span>
        </div>
      <% end %>
    </div>
    <div class="m-solution-card__footer">
      <%= link_to(solution_path(solution), link_to_detail_options) do %>
        <span><%= t(".learn_more") %></span>
        <span class="sr-only"><%= t(".about", name: solution.name) %></span>
        <%= image_tag "icons/16/Arrow-Right.svg", alt: "" %>
      <% end %>
    </div>
  </article>
<% end %>
