<div data-controller="implementation-component--implementation-component" class="m-badge-md">
  <span class="<%= available? ? "bg-brand-blue" : "bg-neutral-20" %>">
    <% if available? %>
      <%= image_tag "icons/20/Checkmark.svg", alt: "" %>
    <% else %>
      <%= image_tag "icons/20/Minus.svg", alt: "" %>
    <% end %>
  </span>
  <span><%= t(".#{implementation_name}") %></span>
  <span class="sr-only"><%= available? ? t(".available") : t(".not_available") %></span>
</div>
