<%= turbo_frame_tag "solution-filters" do %>
  <aside data-controller="solution-filters-component--solution-filters-component"
    data-solution-filters-component--solution-filters-component-target="sidebar"
    class="solution-filters">
    <%= search_form_for solution_search, **search_form_options do |f| %>
      <div class="mobile:block grid grid-cols-2 gap-2">
        <div class="solution-filters__search bg-neutral-20">
          <%= image_tag "icons/24/Search.svg", alt: "" %>
          <%= f.label :name_cont, class: "sr-only" %>
          <%= f.search_field :name_cont, placeholder: "Search" %>
        </div>
        <%= render SolutionMobileFiltersComponent.new(f:) %>
      </div>
      <div class="solution-filters__filters hidden mobile:block bg-neutral-20">
        <h2 class="pb-4 text-h3"><%= t(".heading") %></h2>
        <%= render SolutionFiltersCheckboxesComponent.new(f:) %>
        <div class="solution-filters__buttons pt-8">
          <%= link_to t(".reset_label"), solution_search_path, class: "m-button m-button--sm bg-white", data: { turbo_method: :delete, turbo_frame: "_top" } %>
          <%= f.submit t(".submit_label"), class: "m-button m-button--sm bg-black" %>
        </div>
      </div>
    <% end %>
  </aside>
<% end %>
