<nav
  data-controller="solution-nav-component--solution-nav-component"
  data-solution-nav-component--solution-nav-component-target="nav"
  class="l-container l-container--narrow  solution-nav m-nav-bar"
  aria-label="<%= t(".nav_a11y_label") %>"
  id="solution-nav">
  <ul class="l-container__inner m-nav-bar__list">
    <li>
      <a href="#about" class="m-nav-bar__link" data-text="<%= t(".about") %>">
        <%= t(".about") %>
      </a>
    </li><li>
      <a href="#mission" class="m-nav-bar__link" data-text="<%= t(".mission") %>">
        <%= t(".mission") %>
      </a>
    </li><li>
      <a href="#technical" class="m-nav-bar__link" data-text="<%= t(".technical") %>">
        <%= t(".technical") %>
      </a>
    </li><li>
      <a href="#community" class="m-nav-bar__link" data-text="<%= t(".community") %>">
        <%= t(".community") %>
      </a>
    </li><li>
      <a href="#policies" class="m-nav-bar__link" data-text="<%= t(".policies") %>">
        <%= t(".policies") %>
      </a>
    </li><li>
      <a href="#additional_information" class="m-nav-bar__link" data-text="<%= t(".additional_information") %>">
        <%= t(".additional_information") %>
      </a>
    </li><li>
      <a href="#funding" class="m-nav-bar__link" data-text="<%= t(".funding") %>">
        <%= t(".funding") %>
      </a>
    </li>
  </ul>
</nav>
