<nav
  data-controller="solution-nav-component--solution-nav-component"
  data-solution-nav-component--solution-nav-component-target="nav"
  class="l-container l-container--narrow  solution-nav"
  aria-label="<%= t(".nav_a11y_label") %>">
  <ul class="l-container__inner solution-nav__list">
    <li>
      <a href="#about" class="solution-nav__link">
        <%= t(".about.nav") %>
      </a>
    </li><li>
      <a href="#mission" class="solution-nav__link">
        <%= t(".mission.nav") %>
      </a>
    </li><li>
      <a href="#technical" class="solution-nav__link">
        <%= t(".technical.nav") %>
      </a>
    </li><li>
      <a href="#community" class="solution-nav__link">
        <%= t(".community.nav") %>
      </a>
    </li><li>
      <a href="#policies" class="solution-nav__link">
        <%= t(".policies.nav") %>
      </a>
    </li><li>
      <a href="#additional_information" class="solution-nav__link">
        <%= t(".additional_information.nav") %>
      </a>
    </li><li>
      <a href="#funding" class="solution-nav__link">
        <%= t(".funding.nav") %>
      </a>
    </li>
  </ul>
</nav>
