<%= turbo_frame_tag "site-header", target: "_top" do %>
<header class="header-section l-container">
  <div class="l-container__inner header-nav">
    <nav class="header-nav" id="primary-nav">
      <a href="https://investinopen.org" id="home-link">
        <%= image_tag "logos/ioi-logo-dark.svg", alt: "Invest in Open Infrastructure" %>
      </a>
      <input id="toggle" class="header-checkbox" type="checkbox">
      <label class="header-toggle" for="toggle">
        <span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </span>
      </label>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <span class="spacer">About IOI</span>
          <a href="https://investinopen.org/about">About IOI</a>
          <ul>
            <li class="np-about">
              <span class="spacer">About Us</span>
              <a href="https://investinopen.org/about">About Us</a>
            </li>
            <li class="np-team">
              <span class="spacer">Our Team</span>
              <a href="https://investinopen.org/about/team">Our Team</a>
            </li>
            <li class="np-governance">
              <span class="spacer">Our Governance</span>
              <a href="https://investinopen.org/about/governance">Our Governance</a>
            </li>
            <li class="np-funding">
              <span class="spacer">How We're Funded</span>
              <a href="https://investinopen.org/about/funding">How We're Funded</a>
            </li>
            <li class="np-how-we-work">
              <span class="spacer">How We Work</span>
              <a href="https://investinopen.org/about/how-we-work">How We Work</a>
            </li>
            <li class="np-strategic-plan-2021-2024">
              <span class="spacer">Strategic Plan</span>
              <a href="https://investinopen.org/about/strategic-plan-2021-2024">Strategic Plan</a>
            </li>
          </ul>
        </li>
        <li class="header-nav-item">
          <span class="spacer">What We Do</span>
          <a class="cursor-arrow">What We Do</a>
          <ul>
            <li class="np-funding-pilots">
                <span class="spacer">Funding Pilots</span>
                <a href="https://investinopen.org/funding-pilots">Funding Pilots</a>
            </li>
            <li class="np-strategic-support">
                <span class="spacer">Strategic Support</span>
                <a href="https://investinopen.org/strategic-support">Strategic Support</a>
            </li>
            <li class="np-data-room">
                <span class="spacer">Data Room</span>
                <a href="https://investinopen.org/data-room">Data Room</a>
            </li>
          </ul>
        </li>
        <li class="header-nav-item">
          <span class="spacer">Our Impact</span>
          <a href="https://investinopen.org/our-impact">Our Impact</a>
        </li>
        <li class="header-nav-item">
          <span class="spacer"><%= t(".finder_link") %></span>
          <%= nav_link "Infra Finder", solutions_path, active: :exclusive %>
        </li>
        <li class="header-nav-item">
          <span class="spacer">News &amp; Updates</span>
          <a href="https://investinopen.org/blog">News &amp; Updates</a>

        </li>
        <li class="header-nav-item">
          <span class="spacer">Get Involved</span>
          <a href="https://investinopen.org/get-involved">Get Involved</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<nav aria-labelledby="nav-infra-finder" class="m-nav-bar m-nav-bar--centered bg-brand-mint l-container">
  <div class="l-container__inner">
    <ul class="m-nav-bar__list">
      <li>
        <%= nav_link t(".solutions_link"), solutions_path, active: :exclusive, class: "m-nav-bar__link", data: { text: t(".solutions_link") } %>
      </li>
      <li>
        <a class="m-nav-bar__link" href="https://investinopen.org/data-room/about-infra-finder" data-text="<%= t(".about_link") %>">
          <%= t(".about_link") %>
        </a>
      </li>
      <li>
        <a class="m-nav-bar__link" href="https://investinopen.org/add-an-infrastructure-to-infra-finder" data-text="<%= t(".add_link") %>">
          <%= t(".add_link") %>
        </a>
      </li>
      <li>
        <a class="m-nav-bar__link" href="https://form.asana.com/?k=_SIAKr0YcFgxdAgWY3fCNQ&d=1204039279428915" data-text="<%= t(".feedback_link") %>">
          <%= t(".feedback_link") %>
        </a>
      </li>
      <li>
        <a class="m-nav-bar__link" href="#" data-text="<%= t(".support_link") %>">
          <%= t(".support_link") %>
        </a>
      </li>
      <% if has_any_admin_or_editor_access? %>
        <li>
          <%= nav_link t(".admin_link"), admin_dashboard_path, class: "m-nav-bar__link", data: { text: t(".admin_link") } %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<% end %>
