<%= turbo_frame_tag(comparison) do %>
<div class="l-container comparison-wrapper"
  id="comparison_component_wrapper"
  style="--comparison-columns: <%= comparison.comparison_items.length %>">
  <header class="comparison-header l-container__inner" data-controller="comparison-component--comparison-component">
    <div class="comparison-row">
      <div>
        <h1 class="text-h2">
          <%= t(".title") %>
        </h1>
      </div>
      <%= render ComparisonItemComponent.with_collection(comparison.comparison_items) %>
    </div>
  </header>
  <section class="l-container__inner comparison-tables">
    <div role="table"
      class="m-table"
      aria-label="<%= t(".technical.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".technical.heading")) %>
        <div role="row" class="m-table__row">
          <div role="rowheader" class="m-table__rowheader">
            <%= t(".technical.maintenance_row") %>
          </div>
          <% comparison.comparison_items.each do |item| %>
            <div role="cell" class="m-table__cell">
              <% if item.solution.maintenance_status.present? %>
                <%= item.solution.maintenance_status.name %>
              <% else %>
                <%= image_tag "icons/20/Minus.svg", alt: "" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :open_api) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :code_repository) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :user_documentation) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :product_roadmap) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".community.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".community.heading")) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :community_engagement) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :code_of_conduct) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".policies.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".policies.heading")) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :privacy_policy) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :equity_and_inclusion) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :web_accessibility) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :open_data) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :governance_activities) %>
        <%= render ComparisonImplementationRowComponent.new(comparison:, name: :governance_structure) %>
        <%= render ComparisonBlurbRowComponent.new(comparison:, name: :governance_summary) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".structure.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".structure.heading")) %>
        <div role="row" class="m-table__row">
          <div role="rowheader" class="m-table__rowheader">
            <%= t(".structure.ownership_row") %>
          </div>
          <% comparison.comparison_items.each do |item| %>
            <div role="cell" class="m-table__cell">
              <% if item.solution.business_form.present? %>
                <%= item.solution.business_form.name %>
              <% else %>
                <%= image_tag "icons/20/Minus.svg", alt: "" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div role="row" class="m-table__row">
          <div role="rowheader" class="m-table__rowheader">
            <%= t(".structure.staff_row") %>
          </div>
          <% comparison.comparison_items.each do |item| %>
            <div class="text-xl" role="cell" class="m-table__cell">
              <% if item.solution.current_staffing.present? %>
                <%= item.solution.current_staffing %>
              <% elsif %>
                <%= image_tag "icons/20/Minus.svg", alt: "" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".funding.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".funding.heading")) %>
        <div role="row" class="m-table__row">
          <div role="rowheader" class="m-table__rowheader">
            <%= t(".funding.primary_source_row") %>
          </div>
          <% comparison.comparison_items.each do |item| %>
            <div role="cell" class="m-table__cell">
              <% if item.solution.primary_funding_source.present? %>
                <%= item.solution.primary_funding_source.name %>
              <% else %>
                <%= image_tag "icons/20/Minus.svg", alt: "" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= render ComparisonBlurbRowComponent.new(comparison:, name: :funding_needs) %>
      </div>
    </div>
  </section>
</div>
<% end %>
