<%= turbo_frame_tag(comparison) do %>
<div class="l-container comparison-wrapper comparison-wrapper--col-<%= comparison.comparison_items.length %>"
  id="comparison_component_wrapper"
  style="--comparison-columns: <%= comparison.comparison_items.length %>">
  <header class="comparison-header l-container__inner" data-controller="comparison-component--comparison-component">
    <div class="comparison-row">
      <div>
        <h1 class="text-h2">
          <%= t(".title") %>
        </h1>
      </div>
      <%= render ComparisonItemComponent.with_collection(comparison.comparison_items) %>
    </div>
  </header>
  <section class="l-container__inner comparison-tables">
    <div role="table"
      class="m-table"
      aria-label="<%= t(".technical.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".technical.heading")) %>
        <%= render_multiselection_row(:maintenance_statuses) %>
        <%= render_implementation_row(:open_api) %>
        <%= render_implementation_row(:open_data) %>
        <%= render_implementation_row(:code_repository) %>
        <%= render_implementation_row(:code_license) %>
        <%= render_implementation_row(:user_documentation) %>
        <%= render_implementation_row(:product_roadmap) %>
        <%= render_multiselection_row(:programming_languages) %>
        <%= render_multiselection_row(:readiness_levels) %>
        <%= render_multiselection_row(:content_licenses) %>
        <%= render_multiselection_row(:metadata_standards) %>
        <%= render_multiselection_row(:persistent_identifier_standards) %>
        <%= render_multiselection_row(:security_standards) %>
        <%= render_multiselection_row(:preservation_standards) %>
        <%= render_multiselection_row(:metrics_standards) %>
        <%= render_multiselection_row(:hosting_strategy) %>
        <%= render_multiselection_row(:integrations, truncate: true) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".community.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".community.heading")) %>
        <%= render_implementation_row(:community_engagement) %>
        <%= render_implementation_row(:code_of_conduct) %>
        <%= render_implementation_row(:contribution_pathways) %>
        <%= render_multiselection_row(:community_engagement_activities, truncate: true) %>
        <%= render_multiselection_row(:values_frameworks) %>
        <%= render_multiselection_row(:user_contributions) %>
        <%= render_simple_row(:scoss) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".policies.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".policies.heading")) %>
        <%= render_implementation_row(:bylaws) %>
        <%= render_implementation_row(:equity_and_inclusion) %>
        <%= render_implementation_row(:privacy_policy) %>
        <%= render_implementation_row(:web_accessibility) %>
        <%= render_implementation_row(:pricing) %>
        <%= render_implementation_row(:governance_records) %>
        <%= render_implementation_row(:governance_structure) %>
        <%= render ComparisonBlurbRowComponent.new(comparison:, name: :governance_summary) %>
        <%= render_multiselection_row(:board_structures) %>
        <%= render_multiselection_row(:board_level) %>
        <%= render_multiselection_row(:community_governances) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".structure.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".structure.heading")) %>
        <%= render_multiselection_row(:business_forms) %>
        <%= render_multiselection_row(:nonprofit_status) %>
        <%= render_multiselection_row(:staffing_full_time) %>
        <%= render_multiselection_row(:staffing_volunteer) %>
        <%= render_simple_row(:shareholders) %>
      </div>
    </div>
    <div role="table"
      class="m-table"
      aria-label="<%= t(".funding.heading") %>">
      <div role="rowgroup">
        <%= render ComparisonStickyHeaderComponent.new(comparison:, heading: t(".funding.heading")) %>
        <%= render_multiselection_row(:primary_funding_sources) %>
        <%= render_multiselection_row(:financial_reporting_level) %>
        <%= render ComparisonBlurbRowComponent.new(comparison:, name: :funding_needs) %>
      </div>
    </div>
  </section>
</div>
<% end %>
