<%= turbo_frame_tag(solution) do %>
  <article class="m-solution-card" data-controller="solution-component--solution-component">
    <header class="m-solution-card__header">
      <h3><%= solution.name %></h3>
    </header>
    <div class="text-xs a-underline a-underline--lt space-y-[0.625rem]">
      <div class="font-bold truncate">
        <%= solution.organization.name %>
      </div>
      <%= render_location %>
    </div>
    <div class="text-xs t-rte line-clamp-4">
      <%= sanitize solution.service_summary %>
    </div>
    <div class="m-solution-card__badges">
      <%= render_category_badges %>
      <%= render_implementation(:open_api) %>
    </div>
    <footer class="m-solution-card__footer">
      <%= link_to solution_path(solution), class: "m-button", data: { turbo_frame: "_top" } do %>
        <span><%= t(".learn_more") %></span>
        <span class="sr-only"><%= t(".about", name: solution.name) %></span>
      <% end %>
      <%= render ComparisonToggleComponent.new(solution:, comparison:) %>
    </footer>
  </article>
<% end %>
