<%= turbo_frame_tag(solution) do %>
  <article class="m-solution-card" data-controller="solution-component--solution-component">
    <header class="m-solution-card__header">
      <h3 class="line-clamp-1"><%= solution.name %></h3>
    </header>
    <div class="text-xs a-underline a-underline--lt">
      <div class="font-bold truncate">
        <%= solution.organization.name %>
      </div>
      <div class="m-solution-card__location">
        <%= image_tag "icons/16/Location-Pin.svg", alt: "" %>
        <%= solution.location_of_incorporation? ? solution.location_of_incorporation : "—" %>
      </div>
    </div>
    <div class="text-xs t-rte line-clamp-4">
      <%= sanitize solution.service_summary %>
    </div>
    <div class="m-solution-card__badges">
      <% solution.solution_categories.each do |category, id| %>
        <div class="m-badge-md">
          <span><%= category.name %></span>
        </div>
      <% end %>
      <%= render_implementation(:open_api) %>
    </div>
    <footer class="m-solution-card__footer">
      <%= link_to t(".learn_more"), solution_path(solution), class: "m-button", data: { turbo_frame: "_top" } %>
      <%= render ComparisonToggleComponent.new(solution:, comparison:) %>
    </footer>
  </article>
<% end %>
