<%= turbo_frame_tag(solution) do %>
  <article class="p-4 max-w-sm" data-controller="solution-component--solution-component">
    <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
      <div class="flex items-center mb-3">
        <div
          class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <h2 class="text-white dark:text-white text-lg font-medium"><%= link_to solution.name, solution_path(solution), data: { turbo_frame: "_top" } %></h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <%= render_implementation(:bylaws) %>
        <%= render_implementation(:code_repository) %>
        <%= render_tag_list(:key_technologies) %>
        <%= render ComparisonToggleComponent.new(solution:, comparison:) %>
      </div>
    </div>
  </article>
<% end %>
