<%= turbo_frame_tag(solution) do %>
  <article class="m-card m-card--lg" data-controller="solution-component--solution-component">
    <header>
      <h3><%= link_to solution.name, solution_path(solution), data: { turbo_frame: "_top" } %></h3>
    </header>
    <div class="m-card__text">
      <%= render_implementation(:bylaws) %>
      <%= render_implementation(:code_repository) %>
      <%= render_tag_list(:key_technologies) %>
    </div>
    <footer>
      <%= render ComparisonToggleComponent.new(solution:, comparison:) %>
    </footer>
  </article>
<% end %>
