<% if bar_visible? %>
  <div
    role="dialog"
    aria-modal="false"
    aria-labelledby="comparisonTitle"
    data-controller="comparison-bar-component--comparison-bar-component"
    data-comparison-bar-component--comparison-bar-component-target="wrapper"
    id="compare-bar"
    class="l-container bg-black sticky bottom-0 pt-4 sm:pt-5"
    tabindex="-1">
    <header class="l-container__inner flex flex-wrap gap-[0.625rem] items-center justify-between pb-3 sm:pb-5">
      <h3 class="text-h5 sm:text-h3" id="comparisonTitle"><%= t(".title") %></h3>
      <div class="flex flex-wrap gap-[0.625rem]">
        <a href="#solutions-list"
           class="m-button m-button--sm bg-black comparison-bar__skip"
           data-turbo="false"
           data-action="click->comparison-bar-component--comparison-bar-component#solutions">
           <%= t(".back_to_list") %>
        </a>
        <%= link_to_clear_comparison do %>
          <%= image_tag "icons/16/Close.svg", alt: "" %>
          <span><%= t(".clear_all") %></span>
        <% end %>
        <%= nav_link "Compare", comparison_path %>
      </div>
    </header>
    <div class="l-container__inner comparison-bar__grid" aria-live="polite">
      <%= render ComparisonBarItemComponent.with_collection(comparison.comparison_items) %>
      <% each_remaining_slot do |iteration| %>
        <div class="m-comparison-bar-item bg-brand-mint/25">
          <% if iteration.first? && items_incomparable? %>
            <span class="m-comparison-bar-item__add-more text-xxs lg:text-xs"><%= t(".not_enough_selected") %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
