<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= page_meta.site_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= turbo_refresh_method_tag(:replace) %>
    <%= turbo_refresh_scroll_tag(:preserve) %>
    <meta name="turbo-visit-control" content="reload">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon/apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
    <%= favicon_link_tag "favicon/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png" %>
    <%= favicon_link_tag "favicon/favicon.ico", rel: "icon" %>
    <meta name="apple-mobile-web-app-title" content="Infra Finder">
    <meta name="application-name" content="Infra Finder">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <% if page_meta.canonical_url.present? %>
      <link rel="canonical" href="<%= page_meta.canonical_url %>">
    <% end %>

    <% if page_meta.no_index %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>

    <% if open_graph.valid? %>
      <%= render OpenGraphComponent.new(open_graph:) %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= render MatomoComponent.new %>
  </head>
  <body>
    <%= render HeaderComponent.new %>
    <%= turbo_frame_tag "flash-messages", target: "_top" do %>
      <%= render FlashMessagesComponent.new(flash:) %>
    <% end %>
    <main id="main" tabindex="-1">
      <%= yield %>
    </main>
    <%= render FooterComponent.new %>
  </body>
</html>
