<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("globals.app_title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= turbo_refresh_method_tag(:replace) %>
    <%= turbo_refresh_scroll_tag(:preserve) %>
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= render MatomoComponent.new %>
  </head>
  <body>
    <%= render HeaderComponent.new %>
    <%= turbo_frame_tag "flash-messages", target: "_top" do %>
      <%= render FlashMessagesComponent.new(flash:) %>
    <% end %>
    <main id="main" tabindex="-1">
      <%= yield %>
    </main>
    <%= render FooterComponent.new %>
  </body>
</html>
